<div class="container p-3">
    <div class="row pt-4">
        <div class="col-6">
            <h2 class="text-secondary">Order List</h2>
        </div>
        <br /><br /><br />
    </div>
    <table class="table table-bordered table-striped" id="myTable" style="width:100%">
        <thead>
            <tr>
                <th>
                    Id
                </th>
                <th>
                    Name
                </th>
                <th>
                    Phone Number
                </th>
                <th>
                    Email
                </th>
                <th>
                    Order Status
                </th>
                <th>
                    Total Amount
                </th>
                <th>
                </th>
            </tr>
        </thead>
    </table>
</div>

@section Scripts{
    <script src="~/js/Order.js"></script>
}